<!DOCTYPE >
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/main.css" />
        <script src="/static/js/htmx.min.js" defer></script>
        <meta
            name="apple-mobile-web-app-status-bar-style"
            content="black-translucent"
        />
        <meta name="theme-color" content="#2c3b24" />
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="title">LEADERBOARDS</div>
                <div class="frame">
                    <img src="/static/images/scene.jpg" alt="Framed Image" />
                </div>
            </div>
            {% block content %}{% endblock %}
            <footer>
                <div class="footer-content">
                    <a href="/home"
                        ><img
                            src="/static/images/applestore.svg"
                            alt="apple store"
                    /></a>
                    <a href="/home"
                        ><img
                            src="/static/images/googleplay.png"
                            alt="google play"
                    /></a>
                </div>
            </footer>
        </div>
    </body>
</html>
