{% if (loop.index0 + 1) % 10 == 0 %}
<li
    class="leaderboard-entry"
    hx-trigger="intersect once"
    hx-get="/leaderboard?page={{ page + 1}}"
    hx-target="#leaderboard"
    hx-swap="beforeend"
>
    {% else %}
</li>

<li class="leaderboard-entry">
    {% endif %}
    <div class="rank">{{ loop.index0 + 1 + ((page - 1) * 10) }}</div>
    <div class="avatar">
        <img
            src="/static/images/avatars/{{ entry.avatar_image }}"
            alt="{{ entry.name }}"
        />
    </div>
    <div class="name">{{ entry.display_name }}</div>
    <div class="points">{{ entry.xp }}</div>
    <div class="sun-icon">☀️</div>
</li>
